<%-include("../partials/header.ejs")%>
<div class="main-content">
    <div class="row">
        <div class="col-6">
            <div class="container">
                hello
            </div>
        </div>
        <!-- <div class="col-6">
            <div class="container">
                <div class="container" id="activeCasesGraph">
                    <canvas id="ACLineChart"></canvas>
                </div>
            </div>
            <br>
            <div class="container">
                <div class="container" id="recoveredCasesGraph">
                    <canvas id="RCLineChart"></canvas>
                </div>
            </div>
            <br>
            <div class="container">
                <div class="container" id="deceasedCasesGraph">
                    <canvas id="DTHLineChart"></canvas>
                </div>
            </div>
        </div> -->
    </div>
</div>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script> -->
<!-- <script src="javascripts/covidAPI_state.js"></script> -->
<%-include("../partials/footer.ejs")%>